@charset "utf-8";
 /*CSS Document style rojo gris*/
 .invalid {
	/* background: url(../images/invalid.png) no-repeat 0 50%; */
	/* padding-left: 11px; */
	line-height: 20px;
	color: #ec3f41;
  }
  .valid {
	/* background: url(../images/valid.png) no-repeat 0 50%; */
	/* padding-left: 11px; */
	line-height: 20px;
	color: #3a7d34;
  }
  
.divCarga {
	width: 100%;
	height: 100%;
	z-index: 1055;
	background-color:  #fff;
	position: fixed;
	opacity: 0.75;
	filter:alpha(opacity=75);
	z-index: 1056;
	display: none;
	text-align:center;
	z-index: 1057;
}

#msj_exito{
	z-index:1055;
	position:fixed;
	width:40%;
	margin-left:30%;
	margin-top:10px;
	text-align:center;
	display:none;
	font-size: 15px !important;
	font-weight: bold;
}

#msj_exito div{
	//width:90%;
	max-width:600px;
	margin:auto;
	box-shadow:#999 0px 0px 1em;
    border:#d20d0d solid 3px;
	color: #d20d0d;
	font-weight: bold;
	background-color: #f5f5f5;
    padding:15px !important;
}

#msj_error{
	z-index:1055;
	position:fixed;
	width:40%;
	margin-left:30%;
	margin-top:10px;
	text-align:center;
	display:none;
	font-size: 15px !important;
	font-weight: bold;
}

#msj_error div{
	//width:90%;
	max-width:600px;
	margin:auto;
	box-shadow:#999 0px 0px 1em;
    border:#d20d0d solid 3px;
	color: #d20d0d;
	font-weight: bold;
	background-color: #f5f5f5;
    padding:15px !important;

}

#msj_advertencia{
	z-index:1055;
	position:fixed;
	width:40%;
	margin-left:30%;
	margin-top:10px;
	text-align:center;
	display:none;
	font-size: 15px !important;
	font-weight: bold;
}

#msj_advertencia div{
	//width:50%;
	max-width:600px;
	margin:auto;
	box-shadow:#CCC 0px 0px 1em;
    border:#d20d0d solid 3px;
	color: #d20d0d;
	font-weight: bold;
	background-color: #f5f5f5;
    padding:15px !important;
    background-image: url("../../public/img/correcto.jpg");
	background-repeat: no-repeat;
	background-position: 10px center;
}

/* CSS Document style gris alert*/

/*.divCarga {
	width: 100%;
	height: 100%;
	z-index: 1055;
	background-color:  #fff;
	position: fixed;
	opacity: 0.75;
	filter:alpha(opacity=75);
	z-index: 1056;
	display: none;
	text-align:center;
	z-index: 1057;
}

#msj_exito{
	z-index:1055;
	position:fixed;
	width:40%;
	margin-left:30%;
	margin-top:10px;
	text-align:center;
	display:none;
	font-size: 15px !important;
	font-weight: bold;
}

#msj_exito div{
	//width:90%;
	max-width:600px;
	margin:auto;
	box-shadow:#999 0px 0px 1em;
    border:#438643 solid 3px;
	color: #438643;
	font-weight: bold;
	background-color: #f5f5f5;
    padding:15px !important;
}

#msj_error{
	z-index:1055;
	position:fixed;
	width:40%;
	margin-left:30%;
	margin-top:10px;
	text-align:center;
	display:none;
	font-size: 15px !important;
	font-weight: bold;
}

#msj_error div{
	//width:90%;
	max-width:600px;
	margin:auto;
	box-shadow:#999 0px 0px 1em;
    border:#d20d0d solid 3px;
	color: #d20d0d;
	font-weight: bold;
	background-color: #f5f5f5;
    padding:15px !important;

}

#msj_advertencia{
	z-index:1055;
	position:fixed;
	width:40%;
	margin-left:30%;
	margin-top:10px;
	text-align:center;
	display:none;
	font-size: 15px !important;
	font-weight: bold;
}

#msj_advertencia div{
	//width:50%;
	max-width:600px;
	margin:auto;
	box-shadow:#CCC 0px 0px 1em;
    border:#e1a147 solid 3px;
	color: #e1a147;
	font-weight: bold;
	background-color: #f5f5f5;
    padding:10px !important;
    background-image: url("../../public/img/correcto.jpg");
	background-repeat: no-repeat;
	background-position: 10px center;
}*/